/.emacs.d/custom.el
/.emacs.d/eln-cache/
/.emacs.d/elpa/
/.emacs.d/history
/.emacs.d/org-roam.db
/.emacs.d/transient/
/.emacs.d/url/
/.emacs.d/undo-fu-session/
/.emacs.d/.cache/
/.emacs.d/.org-id-locations
/.emacs.d/autosave/
/.emacs.d/bookmarks
/.emacs.d/eshell/
/.emacs.d/plantuml.jar
/.emacs.d/projects
/.emacs.d/recentf
/.emacs.d/saveplace
*.elc
session.*
